<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">

  <title>{{ .Title }} | {{ .Site.Title }}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- View Transitions (Baseline 2025) -->
  <meta name="view-transition" content="same-origin">

  <!-- CSS GLOBAL -->
  <link rel="stylesheet" href="/css/style.css">

  {{ partial "seo.html" . }}
</head>

<body>

{{ partial "header.html" . }}

<main>
  {{ block "main" . }}{{ end }}
</main>

</body>

</html>

